@charset "utf-8";
/* CSS Document */
body{
	background-color:rgba(15,117,4,0.52);

}
h1{
	color:#86282A;}
a{
	color:rgba(233,5,9,1.00);
		text-decoration:none;}

a:hover{
	color:#F4F3F3;
	text-decoration:underline;}